<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="" />
    <add key="AzureShareName" value="example-share" />
    <add key="AzurePhotoDirectory" value="Photos" />
    <add key="PhotosShare" value="\\source.server.example.com\shares\Photos" />
    <add key="MSSQLDatabase" value="Server=mydb.database.windows.net;Initial Catalog=UserInfoDatabase;Persist Security Info=False;User ID=username;Password=secretpassword;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" />

    <add key="NSDomain" value="DOMAINNAME" />
    <add key="NSUsername" value="photo-mover" />
    <add key="NSPassword" value="anothersecret" />
    <add key="NSPath" value="\\destination.server.example.com\shares\Photos" />
  </appSettings>
</configuration>